@charset "uft-8";
body {
  background-color: #e8d9bf;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 2.6%;
  /* 52 / 1990 = 0.026*100=2.6% */
  padding-right: 7%;
  /* 140 / 1990 = 0.070*100=7% */
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 9997;
  /* 要素を最前面に持ってくる */
}
.header-nav ul {
  display: flex;
  gap: 75px;
}
.header-nav li {
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}
.logo {
  width: 227px;
}

/* MV */
.slider img {
  width: 100%;
}

/* lead */
.lead-text-sp {
  display: none;
}
.lead {
  text-align: center;
  padding: 0 10px 0 10px;
}
.lead-en {
  padding-top: 103px;
  padding-bottom: 53px;
  font-size: 30px;
}
.lead h3 {
  font-size: 82px;
  line-height: 1.17;
  font-weight: lighter;
  padding-bottom: 49px;
  /* 49 / 1990 */
}
.lead-text {
  line-height: 1.65;
  font-size: 23px;
  padding-bottom: 90px;
}

/* 見出し */
.heading {
  height: 75px;
}
.heading-img {
  height: 100%;
}
.heading-center {
  text-align: center;
}

/* about us */
.aboutus-sp {
  display: none;
}
.aboutus {
  display: flex;
  justify-content: center;
  padding: 0 10px 91px 10px;
  gap: 6.9%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}
.about-right p {
  max-width: 410px;
  line-height: 1.63;
}
.about-right h2 {
  margin-bottom: 41px;
}
.about-right h3 {
  font-size: 44px;
  font-weight: lighter;
  line-height: 1.39;
  padding-bottom: 20px;
}
.about-img {
  border-bottom-right-radius: 15%;
  width: 500px;
}

/* menu */
#menu {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 74px 10px;
}
.menu-logo {
  margin-bottom: 42px;
}
#menu ul {
  display: flex;
  gap: 4.9%;
}
.menu-category {
  color: #d30202;
  font-size: 38px;
  margin-top: -10px;
  padding-left: 11px;
  padding-bottom: 17px;
}
.menu-text {
  font-size: 17px;
  line-height: 1.47;
}
.menu-img img {
  border-top-right-radius: 15%;
  width: 300px;
}

/* garllery */
.gallery-logo {
  margin-bottom: 17px;
}
.gallery-img {
  display: flex;
}
.gallery-img img {
  width: 20%;
}
#gallery {
  padding-bottom: 54px;
}

/* event */
.event-item {
  display: flex;
  gap: 2.4%;
  font-size: 23px;
  padding-bottom: 1.5%;
  max-width: 694px;
  margin: 0 auto;
}
.event-box {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  border: 3.7px solid #4f260b;
  padding: 38px 0;
}
#event {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 63px 10px;
}
.event-logo {
  margin-bottom: 27px;
}
.event-text {
  border-bottom: 1.2px solid #4f260b;
  /* 線の太さの見方がわからなくてものさしツールで測りました。 */
}

/* access */
iframe {
  width: 100%;
  height: 471px;
  filter: grayscale(100%) invert(92%) contrast(83%);
  vertical-align: bottom;
}
.access-logo {
  margin-bottom: 31px;
}
/* footer */
#footer {
  background-color: #ffffff;
  padding-bottom: 66px;
}
.footer-item {
  display: flex;
  gap: 2.8%;
  padding: 3.7% 10px 3% 10px;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-logo {
  width: 229px;
}
.footer-item li {
  color: #000000;
  font-size: 20px;
  line-height: 1.95;
}
.copyright {
  text-align: center;
  /* color: #000000; ここで設定できなのは何故でしょうか？ */
  font-size: 16px;
}
.copyright p {
  color: #000000;
}

/* to top */
.totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
}

/* ハンバーガーメニュー */
.header-nav-sp,
.sp-menu-btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header-nav {
    display: none;
  }

  .sp-menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
  }
  .sp-menu-btn span {
    /* 作った箱（↑の30*30の箱）の中でポジションを決める
  図形を生成したときにセットで使う */
    position: absolute;
    content: "";
    /* 図形を生成（今回はハンバーガーメニューの線） */
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 15px;
    transition: 0.5s;
  }
  /* 擬似要素 */
  /* 【::before】前とか上に要素を追加したい時に使う */
  .sp-menu-btn span::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: -11px;
    transition: 0.5s;
  }
  /* 【::after】後とか下に要素を追加したい時に使う */
  .sp-menu-btn span::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    bottom: -11px;
    transition: 0.5s;
    /* 形を変化するまでにかかる時間を設定 */
  }

  /* font-size */
  .lead h3 {
    font-size: 60px;
  }
  .about-right h3 {
    font-size: 39px;
  }
}

/* hamメニューが開いた時 */
.open span {
  background-color: transparent;
  /* 色を無効化 */
}
.open span::before {
  transform: rotate(45deg);
  /* transform : 形を変える / rotate : 回転 / deg : 度数 */
  top: 0;
}
.open span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.header-nav-sp {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #121212c1;
  z-index: 9998;
}
.header-nav-sp ul {
  height: 100%;
  /* align-items,justify-contentを使って真ん中に持ってくるために
  display: flexを使う！ */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.header-nav-sp li {
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  /* 見出し */
  .heading {
    height: 45px;
  }

  /* lead */
  .lead-en {
    padding-top: 35px;
    padding-bottom: 17px;
    font-size: 17px;
  }
  .lead h3 {
    font-size: 37px;
    line-height: 1.16;
    padding-bottom: 16px;
  }
  .lead-text {
    display: none;
  }
  .lead-text-sp {
    display: block;
    font-size: 16px;
    line-height: 1.87;
    padding-bottom: 56px;
  }

  /* about us */
  .aboutus {
    display: none;
  }
  .aboutus-sp {
    display: block;
  }
  .about-img {
    border-bottom-right-radius: 0%;
    width: 100%;
    margin-bottom: 32px;
  }
  .aboutus-sp h2 {
    margin-bottom: 12px;
  }
  .about-text-sp {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-text-sp h3 {
    font-size: 36px;
    font-weight: lighter;
    line-height: 1.25;
    padding-bottom: 22px;
  }
  .about-text-sp p {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 49px;
  }

  /* menu */
  .menu-logo {
    margin-bottom: 18px;
  }
  #menu ul {
    flex-direction: column;
  }
  .menu-img {
    text-align: center;
  }
  .menu-category {
    font-size: 40px;
    padding-bottom: 26px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: -10px;
  }
  .menu-text {
    font-size: 17px;
    line-height: 1.24;
    padding-bottom: 46px;
  }
  #menu {
    padding-bottom: 80px;
  }

  /* gallery */
  .gallery-logo {
    margin-bottom: 10px;
  }
  #gallery {
    padding-bottom: 25px;
  }

  /* event */
  .event-logo {
    margin-bottom: 14px;
  }
  .event-item {
    font-size: 16px;
    flex-direction: column;
    gap: 4px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 393px;
  }
  .event-text {
    margin-bottom: 22px;
    max-width: 392px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .event-text-last {
    margin-bottom: 0px;
  }
  .event-box {
    padding: 11px 0px;
  }

  /* access */
  iframe {
    height: 191px;
  }

  /* footer */
  .footer-logo {
    width: 222px;
    margin-bottom: 28px;
  }
  .footer-item li {
    font-size: 18px;
    line-height: 1.72;
  }
  .footer-item {
    padding-bottom: 37px;
    flex-direction: column;
  }
  .copyright p {
    font-size: 16px;
  }

  /* to top */
  .totop {
    width: 100px;
  }
}
