@charset "uft-8";
body {
  background-color: #e8d9bf;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 2.6%;
  /* 52 / 1990 = 0.026*100=2.6% */
  padding-right: 7%;
  /* 140 / 1990 = 0.070*100=7% */
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  /* 要素を最前面に持ってくる */
}
.header-nav ul {
  display: flex;
  gap: 75px;
}
.header-nav li {
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}
.logo {
  width: 227px;
}

/* MV */
.slider img {
  width: 100%;
}

/* lead */
.lead {
  text-align: center;
  padding: 0 10px 0 10px;
}
.lead-en {
  padding-top: 103px;
  padding-bottom: 53px;
  font-size: 30px;
}
.lead h3 {
  font-size: 82px;
  line-height: 1.17;
  font-weight: lighter;
  padding-bottom: 49px;
  /* 49 / 1990 */
}
.lead-text {
  line-height: 1.65;
  font-size: 23px;
  padding-bottom: 90px;
}

/* 見出し */
.heading {
  height: 75px;
}
.heading-img {
  height: 100%;
}
.heading-center {
  text-align: center;
}

/* about us */
#aboutus {
  display: flex;
  justify-content: center;
  padding: 0 10px 91px 10px;
  gap: 6.9%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}
.about-right p {
  max-width: 410px;
  line-height: 1.63;
}
.about-right h2 {
  margin-bottom: 41px;
}
.about-right h3 {
  font-size: 44px;
  font-weight: lighter;
  line-height: 1.39;
  padding-bottom: 20px;
}
.about-img {
  border-bottom-right-radius: 15%;
}

/* menu */
#menu {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 74px 10px;
}
.menu-logo {
  margin-bottom: 42px;
}
#menu ul {
  display: flex;
  gap: 4.9%;
}
.menu-category {
  color: #d30202;
  font-size: 38px;
  margin-top: -10px;
  padding-left: 11px;
  padding-bottom: 17px;
}
.menu-text {
  font-size: 17px;
  line-height: 1.47;
}
.menu-img {
  border-top-right-radius: 15%;
}

/* garllery */
.gallery-logo {
  margin-bottom: 17px;
}
.gallery-img {
  display: flex;
}
.gallery-img img {
  width: 20%;
}
#gallery {
  padding-bottom: 54px;
}

/* event */
.event-item {
  display: flex;
  gap: 2.4%;
  font-size: 23px;
  padding-bottom: 1.5%;
  max-width: 694px;
  margin: 0 auto;
}
.event-box {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  border: 3.7px solid #4f260b;
  padding: 38px 0;
}
#event {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 63px 10px;
}
.event-logo {
  margin-bottom: 27px;
}
.event-text {
  border-bottom: 1.2px solid #4f260b;
  /* 線の太さの見方がわからなくてものさしツールで測りました。 */
}

/* access */
iframe {
  width: 100%;
  height: 471px;
  filter: grayscale(100%) invert(92%) contrast(83%);
  vertical-align: bottom;
}
.access-logo {
  margin-bottom: 31px;
}
/* footer */
#footer {
  background-color: #ffffff;
  padding-bottom: 66px;
}
.footer-item {
  display: flex;
  gap: 2.8%;
  padding: 3.7% 10px 3% 10px;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-logo {
  width: 229px;
}
.footer-item li {
  color: #000000;
  font-size: 20px;
  line-height: 1.95;
}
.copyright {
  text-align: center;
  /* color: #000000; ここで設定できなのは何故でしょうか？ */
  font-size: 16px;
}
.copyright p {
  color: #000000;
}

/* to top */
.totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
}
